.top-menu {
  background: #0a5640;
  padding: 2px 15px;
}

.logo {
  text-align: center;
  font-family: Times;
  font-size: 3rem;
  font-weight: bolder;
  color: #ffc82e;
}

img {
  background-color: #0a5640;
}

.course-card {
  margin: auto;
  max-width: 40rem;
  box-shadow: 5px 5px 10px #0a5640;
}
