<div class="container-fluid">
  <div class="top-menu">
    <div class="logo">NDSU Computer Science Course Offerings</div>
  </div>

  <div class="course-card">
    <div class="card my-3 p-3">
      <div class="card-body mx-auto text-center">
        <h2 class="course-title">CSci 160 - Computer Science - I</h2>
        <img
          class="my-3 p-3"
          width="400"
          height="75"
          alt="NDSU logo"
          src="https://www.ndsu.edu/themes/ndsu/logo.svg"
        />
        <h5 class="card-text">This is an introductory course in programming</h5>
      </div>
    </div>
  </div>
</div>
